*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    min-width: 1470px;
}
header{
    width: 100%;
    height: 790px;
    position: relative;
}
header .header_T{
    width: 37.5%;
    height: auto;
    position: absolute;
    top: 18%;
    left: 31%;
}
header .header_button{
    width: 130px;
    height: 45px;
    border-radius: 22px;
    border: solid 1px #666666;
    font-size: 22px;
    color: #666666;
    outline: none;
    position: absolute;
    top: 44%;
    left: 46%;
    background: none;
}
header .header_button:hover{
    background-color: #5e995c;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}
.header_nav{
    width: 90%;
    height: 75px;
    position: absolute;
    top: 30px;
    left:5%;
}
.header_nav .left{
    float: left;
    width: 20%;
    height: 75px;
}
.header_nav .centre{
    width: 60%;
    height: 75px;
    text-align: center;
    line-height: 75px;
    float: left;
}
.header_nav .centre a{
    padding: 3px 0;
    margin-left: 20px;
    font-size: 14px;
    color: #333333;
}
.header_nav .centre a:hover{
    border-bottom: 2px #138b8b solid;
    color:#138b8b;
}
.header_nav .right{
    width: 19%;
    height: 75px;
    line-height: 75px;
    text-align: right;
    float: left;
}
.header_nav .right span{
    margin-left: 5%;
}
.main{
    width: 100%;
    height: 1570px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 80px;
}
.height-auto{
    height: auto!important;
}
.main .main_shop{
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
}
.main .main_shop li{
    float: left;
    width: 33%;
    height: 350px;
    text-align: center;
    margin-bottom: 20px;
}
.main .main_shop li:hover{
    cursor: pointer;
    outline: 1px solid burlywood;
}
.main_shop li p:first-of-type{
    font-size: 18px;
    color: #666666;
}
.main .main_name{
    position: absolute;
    top: 0;
    left: 13%;
}
.main .main_name li a{
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333333;
}
.main .main_name li  .this{
    color: #138b8b;
    border-left: 1px solid ;
}
.main .main_name li a:hover{
    color: #138b8b;
    border-left: 1px solid ;
}
.main_paging{
    position: absolute;
    right: 21%;
    bottom: 0;
}
.main_paging .number button:not(:last-child){
    width: 30px;
    height: 30px;
    background-color: coral;
    outline: none;
    color: white;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}
.main_paging .number button:last-child{
    width: 50px;
    height: 30px;
    background-color: #999999;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
}
.main_paging .paging button{
    width: 50px;
    height: 30px;
    background-color: coral;
    outline: none;
    color: white;
    border: none;
    margin: 5px 35px 0 0;
    cursor: pointer;
}
.main_paging button:hover{
    box-shadow: 0px 0px 20px #999999;
}
footer{
    width: 100%;
    height: 600px;
    background:#ffffff;
}
footer .footer_img{
    width: 100%;
    height: 340px;
}
footer .footer_bottom{
    width: 100%;
    height: 260px;
}
footer .footer_bottom_a{
    width: 64%;
    height: 140px;
    margin: 0 auto;
    margin-top: 50px;
}
footer .footer_bottom_a li{
    float: left;
}
footer .footer_bottom_b{
    width: 33%;
    height: 50px;
    font-size: 5px;
    color:#333333;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 55px;
}
.mask_top{
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 50px;
    height: 50px;
    display: none;
    opacity: 0.5;
}
.mask_top:hover{
    opacity: 1;
    transition: all 0.5s;
}




