<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/about.css">
</head>
<body>
<div class="main">
    <div class="CONTACT">
        <span>ABOUT US</span>
        <div class="hr"></div><p>
        <div class="contact">关于我们</div>
    </div>
    <div class="contact-foot">
        一方家居线上商城于二零零七年十二月正式上线，已成为中国最大的家具家居用品商城，销售主要包括座椅沙发系列、卫浴系列、
        收纳系列、餐厨系列、灯饰系列、家纺系列等约10,000个产品。
        在一方家居，您可以在这发现大量家居达人们精选的家装范例和家居宝贝，可以自由分享您发现的精品家居宝贝，也可以结交同
        样热爱家居装饰的朋友，发表对居家装饰的独特见解。我们希望帮助中国人改变他们的居住观念，提高生活品质，无论是装修，还
        是优化家居，你都可以用一方家居寻找灵感，发现居住乐趣，联系设计师。
    </div>
</div>
</body>
</html>